<% layout('layouts/page')%>
<% block('title','FLA')%>

<div class="row main">
    <% if (user) { %>
    <div class="container">
        <div class="col-12 height flex justify-content-center align-items-center no-gutter">
            <div class="work-area">
                <% if (user.blockStatus) { %>
                <div class="row block">
                    <div class="col-12 flex justify-content-center align-items-center">
                        <img src="images/block.png">
                    </div>
                </div>
                <div class="row block">
                    <div class="col-12 flex justify-content-center align-items-center horizontal-position-end">
                        <p class="block-text"><strong>Someone blocked you!</strong><br>
                            Sign in from another social network<br>
                            or wait until someone unblocks you :)</p>
                    </div>
                </div>
                <% } else { %>
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a id="delete" class="nav-link active toolbar" href="#">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a id="block" class="nav-link active toolbar" href="#">Block</a>
                    </li>
                    <li class="nav-item">
                        <a id="unblock" class="nav-link active toolbar" href="#">Unblock</a>
                    </li>
                </ul>
                <div class="grid-container">
                    <div class="grid-wrapper">
                        <div class="grid-row-header">
                            <div class="grid-column-header">Id</div>
                            <div class="grid-column-header">Username</div>
                            <div class="grid-column-header">Photo</div>
                            <div class="grid-column-header">Provider</div>
                            <div class="grid-column-header">Last authorize</div>
                            <div class="grid-column-header">Block status</div>
                        </div>
                        <% allUsers.forEach(function (item, i , arr) { %>
                        <div class="grid-row">
                            <div class="grid-column"><%= arr[i].id %></div>
                            <div class="grid-column"><%= arr[i].displayName %></div>
                            <div class="grid-column"><img class="scale" src="<%= arr[i].photoUrl %>"/></div>
                            <div class="grid-column"><%= arr[i].provider %></div>
                            <div class="grid-column"><%= arr[i].created %></div>
                            <div class="grid-column"><%= arr[i].block %></div>
                        </div>
                        <% })%>
                    </div>
                </div>
                <% }%>
            </div>
        </div>
    </div>
    <% } %>
</div>
