<% layout('layouts/page')%>
<% block('title','FLA')%>

<div class="row main">
    <% if (user) { %>
    <div class="container-fluid">
        <div class="col-12 height flex justify-content-center align-items-center no-gutter">
                <% if (user.blockStatus) { %>
                <div class="row block">
                    <div class="col-12 flex justify-content-center align-items-center">
                        <img src="images/block.png">
                    </div>
                </div>
                <div class="row block">
                    <div class="col-12 flex justify-content-center align-items-center horizontal-position-end">
                        <p class="block-text"><strong>Someone blocked you!</strong><br>
                            Sign in from another social network<br>
                            or wait until someone unblocks you :)</p>
                    </div>
                </div>
                <% } else { %>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="toolbar"><a id="delete" class="ion-trash-a ico" href="#"></a>
                                                        <a id="block" class="ion-close-round ico" href="#"></a>
                                                        <a id="unblock" class="ion-checkmark-round ico" href="#"></a> </th>

                    </tr>
                    </thead>
                    <thead class="thead">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Provider</th>
                        <th scope="col">Last authorize</th>
                        <th scope="col">Block status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% allUsers.forEach(function (item, i , arr) { %>
                    <tr class="table-row">
                        <th scope="row"><%= arr[i].id %></th>
                        <td><%= arr[i].displayName %></td>
                        <td><img class="scale" src="<%= arr[i].photoUrl %>"/></td>
                        <td><%= arr[i].provider %></td>
                        <td><%= arr[i].created %></td>
                        <td><%= arr[i].block %></td>
                    </tr>
                    <% })%>
                    </tbody>
                </table>
                <% }%>
        </div>
    </div>
    <% } %>
</div>
